div.Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:950px;
	height:2128px;
}

div.id2-Headerx20Progress_ {
	position:absolute;
	left:0px;
	top:0px;
	width:950px;
	height:155px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-02_ {
	position:absolute;
	left:0px;
	top:155px;
	width:950px;
	height:53px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-03_ {
	position:absolute;
	left:0px;
	top:208px;
	width:460px;
	height:92px;
}

div.id2-Clearx20Fields_ {
	position:absolute;
	left:460px;
	top:208px;
	width:80px;
	height:23px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-05_ {
	position:absolute;
	left:540px;
	top:208px;
	width:1px;
	height:92px;
}

div.id2-Nextx20Step_ {
	position:absolute;
	left:541px;
	top:208px;
	width:95px;
	height:23px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-07_ {
	position:absolute;
	left:636px;
	top:208px;
	width:314px;
	height:53px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-08_ {
	position:absolute;
	left:460px;
	top:231px;
	width:80px;
	height:69px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-09_ {
	position:absolute;
	left:541px;
	top:231px;
	width:95px;
	height:69px;
}

div.id2-Emailx20Preview-Romance_ {
	position:absolute;
	left:636px;
	top:261px;
	width:285px;
	height:361px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-11_ {
	position:absolute;
	left:921px;
	top:261px;
	width:29px;
	height:1867px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-12_ {
	position:absolute;
	left:0px;
	top:300px;
	width:55px;
	height:90px;
}

div.id2-General_ {
	position:absolute;
	left:55px;
	top:300px;
	width:90px;
	height:90px;
}

div.id2-Family_ {
	position:absolute;
	left:145px;
	top:300px;
	width:90px;
	height:90px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-15_ {
	position:absolute;
	left:235px;
	top:300px;
	width:1px;
	height:90px;
}

div.id2-Groups_ {
	position:absolute;
	left:236px;
	top:300px;
	width:90px;
	height:90px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-17_ {
	position:absolute;
	left:326px;
	top:300px;
	width:1px;
	height:90px;
}

div.id2-Celebrate_ {
	position:absolute;
	left:327px;
	top:300px;
	width:90px;
	height:90px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-19_ {
	position:absolute;
	left:417px;
	top:300px;
	width:1px;
	height:90px;
}

div.id2-Romance_ {
	position:absolute;
	left:418px;
	top:300px;
	width:90px;
	height:90px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-21_ {
	position:absolute;
	left:508px;
	top:300px;
	width:1px;
	height:90px;
}

div.id2-Spa_ {
	position:absolute;
	left:509px;
	top:300px;
	width:90px;
	height:90px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-23_ {
	position:absolute;
	left:599px;
	top:300px;
	width:37px;
	height:90px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-24_ {
	position:absolute;
	left:0px;
	top:390px;
	width:22px;
	height:1738px;
}

div.id2-Body_ {
	position:absolute;
	left:22px;
	top:390px;
	width:614px;
	height:1738px;
}

div.id2-Send-trade-eBrochure-v7-CroppedExpanded-26_ {
	position:absolute;
	left:636px;
	top:622px;
	width:285px;
	height:1506px;
}
